/web/core/
/web/modules/contrib/
/web/themes/contrib/

/vendor/

# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings.local.php
/web/sites/*/services*.yml
/web/sites/development.services.local.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest


/bdd-postgres/
/*.css.map
themes/**/*.css.map

/**/node_modules/
